pages:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bookworm-buildd
  script:
    - mkdir -p public/source
    - echo '<meta http-equiv="refresh" content="0; URL=https://alf.physik.uni-wuerzburg.de/pyalf-doc" />' > public/index.html
    - cp public/index.html public/source/front.html
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
