stages:
  - test
  - build
  - build_doc

variables:
  BRANCH_R: "master"

default:
  tags: [k8s]
  
.test_template:
  stage: test
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - tests
      - .gitlab-ci.yml
  script:
    - pip install pylint ruff pytest
    - pylint -E py_alf/
    - ruff check --exclude doc
    - pip install .
    - pytest
    - alf_run --machine $MACHINE --branch $BRANCH_R --sims_file py_alf/cli/Sims


.exec_notebook_template:
  stage: test
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Notebooks/*
  script:
    - pip install jupyter nbconvert .
    - cd Notebooks/
    - jupyter-nbconvert --execute --inplace $NOTEBOOK

.pylint_template:
  stage: test
  allow_failure: true
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - pip install pylint
    - pylint py_alf/

.ruff_template:
  stage: test
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - pip install ruff
    - ruff check --exclude doc

pages:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-doc/jupyter
  stage: build_doc
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  tags:
    - k8s
  script:
    - git config --global --add safe.directory $PWD
    - git checkout $CI_COMMIT_BRANCH
    - pip install --editable .
    - (cd doc && make)
    - mkdir public
    - mv doc/_build/html/* public
  artifacts:
    paths:
      - public

check_docstrings:
  stage: test
  allow_failure: true
  image: python:alpine
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - pip install ruff
    - ruff check --select D


build:
  stage: build
  image: python:alpine
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  script:
    - apk add git
    - pip install build setuptools setuptools-git-versioning twine
    - python -m setuptools_git_versioning 
    - python -m build
    - python -m twine upload dist/*

test:
  extends: .test_template
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm, tumbleweed]

exec_notebook:
  extends: .exec_notebook_template
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm, tumbleweed]
        NOTEBOOK: [parallel_tempering.ipynb, projective_algorithm.ipynb, pyALF_new_features.ipynb, testing_against_ED.ipynb, trotter_error.ipynb, tV_model.ipynb]


warn_pylint:
  extends: .pylint_template
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - IMAGE_MINOR: [bullseye, bookworm, tumbleweed]

warn_ruff:
  extends: .ruff_template
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  parallel:
    matrix:
      - IMAGE_MINOR: [bullseye, bookworm, tumbleweed]
