types:
    - build
  
.test_template: &test_definition
    type: build
    only:
      changes:
        - Run.py
        - default_variables.py
        - py_alf.py
    script:
      - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama git
      - pylint3 -E Run.py default_variables.py py_alf.py
      - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@git.physik.uni-wuerzburg.de/ALF/ALF.git
      - ./Run.py -RT --alfdir ./ALF --machine "GNU" --branch_R 122-embedding-lattice-information-in-observables --ham_name_R Hubbard_Plain_Vanilla


Test_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition

Test_Stretch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:stretch-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition

Warn_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  allow_failure: true
  stage: build
  only:
    changes:
      - Run.py
      - default_variables.py
      - py_alf.py
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama
    - pylint3 Run.py default_variables.py py_alf.py
