variables:
  BRANCH_R: "master"
  
.test_template: &test_definition
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Run.py
      - default_variables.py
      - py_alf.py
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-h5py python3-numba python3-mpi4py git
    - pylint3 -E *.py
    - git clone https://git.physik.uni-wuerzburg.de/ALF/ALF.git
    - ./Run.py -R --alfdir ./ALF --machine "GNU" --branch_R $BRANCH_R --ham_name_R Hubbard_Plain_Vanilla
    
.test_template-PGI: &test_definition-PGI
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Run.py
      - default_variables.py
      - py_alf.py
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-h5py python3-numba python3-mpi4py git
    - pylint3 -E *.py
    - export PATH="/opt/pgi/linux86-64/2019/bin:$PATH"
    - git clone https://git.physik.uni-wuerzburg.de/ALF/ALF.git
    - ./Run.py -R --alfdir ./ALF --machine "PGI" --branch_R $BRANCH_R --ham_name_R Hubbard_Plain_Vanilla

.warn_template: &warn_definition
  allow_failure: true
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Run.py
      - default_variables.py
      - py_alf.py
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-h5py python3-numba python3-mpi4py
    - pylint3 *.py
    
.test_branch_template: &test_branch_definition
  rules:
    - if: '$BRANCH_T'
      when: always
  script:
    - apt-get update && apt-get install -y python3-numpy python3-h5py python3-numba python3-mpi4py git
    - export PYTHONPATH="$PWD:$PYTHONPATH"
    - cd Scripts
    - ./test_branch.py --branch_R $BRANCH_R --branch_T $BRANCH_T
  
.test_branch_template-PGI: &test_branch_definition-PGI
  rules:
    - if: '$BRANCH_T'
      when: always
  script:
    - apt-get update && apt-get install -y python3-numpy python3-h5py python3-numba python3-mpi4py git
    - export PATH="/opt/pgi/linux86-64/2019/bin:$PATH"
    - export PYTHONPATH="$PWD:$PYTHONPATH"
    - cd Scripts
    - ./test_branch.py --branch_R $BRANCH_R --branch_T $BRANCH_T --machine PGI


Test_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition

Test_Stretch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:stretch-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition
  
Test_Buster-PGI:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-pgi1910
  <<: *test_definition-PGI


Warn_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *warn_definition


Test_branch_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_branch_definition

Test_branch_Stretch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:stretch-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_branch_definition
  
Test_branch_Buster-PGI:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-pgi1910
  <<: *test_branch_definition-PGI
