variables:
  BRANCH_R: "196-write-parameters-to-hdf5-file"
  
.test_template: &test_definition
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Run.py
      - default_variables.py
      - py_alf.py
      - .gitlab-ci.yml
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-pandas python3-h5py python3-numba python3-mpi4py python3-pip git curl libghc-zlib-dev
    - pip install f90nml
    - if [ "$MACHINE" = "INTEL" ]; then . /opt/intel/oneapi/setvars.sh; fi
    - if [ $(command -v pylint3) ]; then linter='pylint3'; else linter='pylint'; fi
    # - $linter -E py_alf.py Run.py alf_ana/analysis.py alf_ana/ana.py alf_ana/check_rebin.py alf_ana/check_warmup.py alf_ana/lattice.py alf_ana/util.py Scripts/alf_bin_count.py Scripts/alf_del_bins.py Scripts/alf_postprocess.py Scripts/alf_show_obs.py Scripts/minimal_ALF_run.py Scripts/test_branch.py
    - git clone https://git.physik.uni-wuerzburg.de/ALF/ALF.git
    - adduser --system --disabled-password tester
    - chown -R tester ALF
    - runuser -m -u tester -- Scripts/alf_run.py --alfdir ./ALF --machine $MACHINE --branch $BRANCH_R --sims_file Scripts/Sims

.warn_template: &warn_definition
  allow_failure: true
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - Run.py
      - default_variables.py
      - py_alf.py
      - .gitlab-ci.yml
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-pandas python3-h5py python3-numba python3-mpi4py
    - pylint py_alf.py Run.py alf_ana/analysis.py alf_ana/ana.py alf_ana/check_rebin.py alf_ana/check_warmup.py alf_ana/lattice.py alf_ana/util.py Scripts/alf_bin_count.py Scripts/alf_del_bins.py Scripts/alf_postprocess.py Scripts/alf_show_obs.py Scripts/minimal_ALF_run.py Scripts/test_branch.py
    
.test_branch_template: &test_branch_definition
  rules:
    - if: '$BRANCH_T'
      when: always
  script:
    - apt-get update && apt-get install -y python3-numpy python3-pandas python3-h5py python3-numba python3-mpi4py python3-pip git curl libghc-zlib-dev
    - pip install f90nml
    - export PYTHONPATH="$PWD:$PYTHONPATH"
    - export PATH="/opt/nvidia/hpc_sdk/Linux_x86_64/2021/compilers/bin:$PATH"
    - export PATH="/opt/nvidia/hpc_sdk/Linux_x86_64/2021/comm_libs/mpi/bin:$PATH"
    - if [ "$MACHINE" = "INTEL" ]; then . /opt/intel/oneapi/setvars.sh; fi
    - cd Scripts
    - echo "localhost slots=4" > myhostfile
    - adduser --system --disabled-password tester
    - runuser -m -u tester -- ./test_branch.py --branch_R $BRANCH_R --branch_T $BRANCH_T --machine $MACHINE --mpiexec_args "--hostfile $PWD/myhostfile"


Test_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy3
  variables:
    MACHINE: "GNU"
  <<: *test_definition

Test_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-gfortran-blas-lapack-fftw-hdf5-scipy3
  variables:
    MACHINE: "GNU"
  <<: *test_definition
  
Test-PGI:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-pgi-21-03
  variables:
    MACHINE: "PGI"
  <<: *test_definition

Test-Intel-21:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-intel-oneapi-ifort-python3
  variables:
    MACHINE: "INTEL"
  <<: *test_definition


Warn_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-gfortran-blas-lapack-fftw-hdf5-scipy3
  <<: *warn_definition


Test_branch_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy3
  variables:
    MACHINE: "GNU"
  <<: *test_branch_definition

Test_branch_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-gfortran-blas-lapack-fftw-hdf5-scipy3
  variables:
    MACHINE: "GNU"
  <<: *test_branch_definition
  
Test_branch-PGI:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-pgi-21-03
  variables:
    MACHINE: "PGI"
  <<: *test_branch_definition

Test_branch-Intel-21:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:bullseye-intel-oneapi-ifort-python3
  variables:
    MACHINE: "INTEL"
  <<: *test_branch_definition
