types:
    - build
    - test

variables:
  BRANCH_R: "master"
  
.build_template: &build_definition
    type: build
    rules:
      changes:
        - Run.py
        - default_variables.py
        - py_alf.py
    script:
      - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama git
      - pylint3 -E Run.py default_variables.py py_alf.py
      - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@git.physik.uni-wuerzburg.de/ALF/ALF.git
      - ./Run.py -R --alfdir ./ALF --machine "GNU" --branch_R master --ham_name_R Hubbard_Plain_Vanilla
    
.test_template: &test_definition
    type: test
    rules:
      - if: '$BRANCH_T'
        when: always
    script:
      - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama git
      - export PYTHONPATH="$PWD:$PYTHONPATH"
      - cd Scripts
      - ./test_branch.py --branch_R $BRANCH_R --branch_T $BRANCH_T
  
.test_template-PGI: &test_definition-PGI
    type: test
    rules:
      - if: '$BRANCH_T'
        when: always
    script:
      - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama git
      - export PATH="/opt/pgi/linux86-64/2019/bin:$PATH"
      - export PYTHONPATH="$PWD:$PYTHONPATH"
      - cd Scripts
      - ./test_branch.py --branch_R $BRANCH_R --branch_T $BRANCH_T --machine PGI


Test_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *build_definition

Test_Stretch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:stretch-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *build_definition

Warn_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  allow_failure: true
  stage: build
  only:
    changes:
      - Run.py
      - default_variables.py
      - py_alf.py
  script:
    - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama
    - pylint3 Run.py default_variables.py py_alf.py
