stages:
  - test
  - build_doc
  - publish

default:
  tags: [k8s]


pages:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-doc/jupyter
  stage: build_doc
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  tags:
    - k8s
  script:
    - git config --global --add safe.directory $PWD
    - git checkout $CI_COMMIT_BRANCH
    - pip install --editable .
    - (cd doc && make)
    - mkdir public
    - mv doc/_build/html/* public
  artifacts:
    paths:
      - public


check_docstrings:
  stage: test
  allow_failure: true
  image: python:alpine
  rules:
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - pip install ruff
    - ruff check --select D


build_test:
  stage: publish
  image: ghcr.io/astral-sh/uv:alpine
  rules:
    - if: '$CI_COMMIT_BRANCH != "master"'
  script:
    - apk add git
    - uv build


build:
  stage: publish
  image: ghcr.io/astral-sh/uv:alpine
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  script:
    - apk add git
    - uv build
    - uv publish --username $TWINE_USERNAME --password $TWINE_PASSWORD


test:
  stage: test
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  rules:
    - changes:
      - py_alf
      - tests
      - .gitlab-ci.yml
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm, trixie, tumbleweed]
  script:
    - pip install pylint ruff pytest
    - pylint -E py_alf/
    - ruff check --exclude doc
    - pip install .
    - pytest
    - alf_run --machine $MACHINE --sims_file py_alf/cli/Sims


exec_notebook:
  stage: test
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  rules:
    - changes:
      - Notebooks/*
  parallel:
    matrix:
      - MACHINE: GNU
        IMAGE_MINOR: [bullseye, bookworm, trixie, tumbleweed]
        NOTEBOOK: 
          - parallel_tempering.ipynb
          - projective_algorithm.ipynb
          - pyALF_new_features.ipynb
          - testing_against_ED.ipynb
          - trotter_error.ipynb
          - tV_model.ipynb
  script:
    - pip install jupyter nbconvert .
    - cd Notebooks/
    - jupyter-nbconvert --execute --inplace $NOTEBOOK


warn_pylint:
  stage: test
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  rules:
    - changes:
      - py_alf
      - .gitlab-ci.yml
  parallel:
    matrix:
      - IMAGE_MINOR: [bullseye, bookworm, trixie, tumbleweed]
  allow_failure: true
  script:
    - pip install pylint
    - pylint py_alf/

warn_ruff:
  stage: test
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/$IMAGE_MINOR
  rules:
    - changes:
      - py_alf
      - .gitlab-ci.yml
  parallel:
    matrix:
      - IMAGE_MINOR: [bullseye, bookworm, trixie, tumbleweed]
  script:
    - pip install ruff
    - ruff check --exclude doc
