stages:
  - test
  - build

variables:
  BRANCH_R: "master"

default:
  tags: [k8s]
  
.test_template: &test_definition
  stage: test
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - tests
      - .gitlab-ci.yml
  script:
    - export PATH="$HOME/.local/bin:$PATH"
    - pip install pylint ruff
    - pylint -E py_alf/
    - ruff check
    - export PYTHONPATH="$PWD:$PYTHONPATH"
    - export PATH="$PWD/py_alf/cli:$PATH"
    - cd tests && ./test_lattice_init.py && cd ..
    - alf_run.py --machine $MACHINE --branch $BRANCH_R --sims_file py_alf/cli/Sims

.pylint_template: &pylint_definition
  stage: test
  allow_failure: true
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - export PATH="$HOME/.local/bin:$PATH"
    - pip install pylint
    - pylint py_alf/

.ruff_template: &ruff_definition
  stage: test
  allow_failure: true
  rules:
    - if: '$BRANCH_T'
      when: never
    - changes:
      - py_alf
      - .gitlab-ci.yml
  script:
    - export PATH="$HOME/.local/bin:$PATH"
    - pip install ruff
    - ruff check


build:
  stage: build
  image: python:alpine
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  script:
    - apk add git
    - pip install build setuptools setuptools-git-versioning twine
    - python -m setuptools_git_versioning 
    - python -m build
    - python -m twine upload dist/*


Test_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bullseye
  variables:
    MACHINE: "GNU"
  <<: *test_definition

Test_Bookworm:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bookworm
  variables:
    MACHINE: "GNU"
  <<: *test_definition
  
Test_PGI:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bullseye-pgi-21-03
  variables:
    MACHINE: "PGI"
  <<: *test_definition

Test_Intel21:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bullseye-intel
  variables:
    MACHINE: "INTEL"
  <<: *test_definition

Test_IntelLatest:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bookworm-intel
  variables:
    MACHINE: "INTEL"
  <<: *test_definition

Test_IntelLLVM:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bookworm-intel
  variables:
    MACHINE: "INTELLLVM"
  <<: *test_definition


Warn_pylint_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bullseye
  <<: *pylint_definition

Warn_ruff_Bullseye:
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-requirements/bullseye
  <<: *ruff_definition
