types:
    - test
  
.test_template: &test_definition
    type: test
    script:
      - apt-get update && apt-get install -y pylint3 python3-numpy python3-colorama git
      - export PYTHONPATH="$PWD:$PYTHONPATH"
      - cd Scripts
      - ./test_branch.py --branch_T 131-introduce-an-op_t-container


Test_Buster:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:buster-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition

Test_Stretch:
  image: git.physik.uni-wuerzburg.de:25812/z03/pdi/debian:stretch-gfortran-blas-lapack-fftw-hdf5-scipy
  <<: *test_definition
