name: "CI"

on:
  push

permissions:
  pages: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [bullseye, bookworm, trixie, tumbleweed]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install pylint ruff pytest
      - run: pylint -E py_alf/
      - run: ruff check --exclude doc
      - run: pip install .
      - run: pytest
      - run: alf_run --machine GNU --sims_file py_alf/cli/Sims

  exec_notebooks:
    runs-on: ubuntu-latest
    env:
      PRTE_MCA_rmaps_default_mapping_policy: ":oversubscribe"
      PRTE_MCA_rmaps_base_oversubscribe: '1'
      OMPI_MCA_rmaps_base_oversubscribe: "true"

    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [bullseye, bookworm, trixie, tumbleweed]
        notebook:
          - parallel_tempering.ipynb
          - projective_algorithm.ipynb
          - pyALF_new_features.ipynb
          - testing_against_ED.ipynb
          - trotter_error.ipynb
          - tV_model.ipynb
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install jupyter nbconvert .
      - run: cd Notebooks/ && jupyter-nbconvert --execute --inplace ${{ matrix.notebook }}

  check_docstrings:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install ruff
      - run: ruff check --select D
        continue-on-error: true

  warn_pylint:
    runs-on: ubuntu-latest
    continue-on-error: true
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [bullseye, bookworm, trixie, tumbleweed]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install pylint
      - run: pylint py_alf/
        continue-on-error: true

  warn_ruff:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [bullseye, bookworm, trixie, tumbleweed]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install ruff
      - run: ruff check --exclude doc

  build_docs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-doc/jupyter
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: pip install .
      - run: cd doc && make
