name: "Publish to PyPI and GitHub Pages"

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]
    branches:
      - 'master'

concurrency:
  group: publish
  cancel-in-progress: true

jobs:
  publish_pypi:
    runs-on: ubuntu-slim
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish

  publish_pages:
    runs-on: ubuntu-slim
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: github-pages
    permissions:
      id-token: write
      contents: read
      pages: write
    steps:
      - name: Download Jupyter Book HTML
        uses: actions/download-artifact@v7
        with:
          name: jupyter-book-html
          path: public
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4